*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --primary-color-rb: #703189;
  --primary-color-vb: #b9ce12;
  --primary-color-rbc: #ab83b9;
  --primary-color-start: white;
  --primary-color-cb: #f2f2f2;
  --primary-color-az: rgb(59 130 246 / var(--tw-bg-opacity, 1));
  --primary_font: calc(1rem*1vmin);
  --speed: 200ms;
  --primary-family-font: "Lexend";

}

body {
  background-color: rgb(255, 255, 255);
  font-family: var(--primary-family-font);
  top: 0%;
  margin: 0%;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.sidebar-wrapper {
  max-width: 10%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--primary-color-start);
  transition: transform var(--speed) ease;
  z-index: 1000;
}

.swiffy-slider {
  top: 0%;
  width: 100%;
  overflow: hidden;
}

.toggle-btn_img-logo {
  display: flex;
  top: 0%;
  margin: 10px;
  margin-left: 10%;
}

.toggle-btn {
  background-color: var(--primary-color-start);
  color: #e5ff24;
  border: none;
  font-size: 30px;
  position: fixed;
  width: 100px;
  height: 100vh;
  z-index: 9999;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(4p);
  text-align: left;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #bdd318;

}

.logo-home {
  width: 100px;
  height: 50px;
}

body:not(.sidebar-fechado) .toggle-bnt-mobile{
  margin-left: 20%;
}

body:not(.sidebar-fechado) .toggle-btn_img-logo {
  margin-left: 0%;
  margin: 10px;
}

body.sidebar-fechado .toggle-bnt-mobile {
  top: 0%;
  margin-left: 0%;
}

body.sidebar-fechado .logo-home {
  position: relative;
  margin-left: 0%;
}

#menu {
  width: 20%;
  background-color: rgba(112, 49, 137, 0.3);
  backdrop-filter: blur(4px);
  color: var(--primary-color-start);
  list-style-type: none;
  padding: 0;
  margin: 0;
  top: 0;
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  font-size: 1rem;

}

#menu>li {
  position: relative;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

#menu li div {
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  transition: background 0.3s;
  width: 100%;
  border-radius: 5px;
}

#menu img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.submenu {
  list-style-type: none;
  padding: 0;
  display: none;
  background-color: rgba(112, 49, 137, 0.3);
  backdrop-filter: blur(4px);
  text-align: center;
  border-radius: 5px;
}

.submenu li {
  padding: 10px 0;
  cursor: pointer;
  transition: background 0.3s;
  width: 100%;
}

.submenu li:hover {
  color: #dee2ec;
}

.submenu a {
  text-decoration: none;
  color: #dee2ec;
  display: block;
  width: 100%;
  padding: 10px 0 10px 0;

}

.submenu a:hover {
  background-color: var(--primary-color-rbc);
}

.submenu ul {
  background-color: rgba(171, 131, 185, 0.3);
  backdrop-filter: blur(4px);
}

ul {
  list-style-type: none;
  padding: 0;

}

li {
  padding: 8px 0;
  cursor: pointer;
  position: relative;
  text-align: center;
  transition: box-shadow 0.3s ease;

}

span {
  padding-left: 10px 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body.sidebar-fechado .sidebar-wrapper {
  transform: translateX(-100%);
}

body.sidebar-fechado #pagina,
body.sidebar-fechado .container-page,
body.sidebar-fechado .swiffy-slider {
  margin-left: 0;
  width: 100%;
}

body.sidebar-fechado .toggle-btn_img-logo {
  margin-left: 0%;
}

.arquivo_a {
  color: var(--primary-color-start);
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

.container-page {
  flex: 1;
  width: 100%;
  overflow: hidden;
  margin-right: auto;
  padding: 10px;
}

hr {
  border: 2px solid var(--primary-color-vb);
  border-radius: 5px;
  top: 0%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.magnifying_area {
  position: relative;
  overflow: hidden;
  border: 3px solid var(--primary-color-rbc);
  border-radius: 15px;
  margin: 1rem auto;
  max-width: 1000px;
}

.magnifying_area:hover {
  border-color: var(--primary-color-vb);
}

.magnifying_img {
  display: block;
  width: 100%;
  height: auto;
  transform-origin: top left;
  transition: transform 0.1s ease;
  pointer-events: none;
}

.imagem_menu {
  width: 15%;
  height: 15%;
}

.conteudo {
  background-color: var(--primary-color-cb);
  margin: 0%;
  max-height: 100%;
  border: 2px solid var(--primary-color-rb);
  border-radius: 15px;
}

.logo {
  width: 100px;
  height: 50px;
  margin: 10px;
}

table {
  display: flex;
  justify-content: center;
  align-items: center;
}

td {
  width: 50%;
}

.title-field {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-color-rbc);
  text-align: center;
  margin: 1rem 0;
  line-height: 1.3;
}

.scroll-event {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 1s ease-out;
  font-size: 1rem;
  color: var(--primary-color-rb);
  font-family: 'Raleway', sans-serif;
}

.scroll-event.visible {
  opacity: 1;
  transform: translateX(0);
}


.description {
  color: var(--primary-color-rb);
  font-weight: normal;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

.lightbox-content {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
  box-shadow: 0 0 20px white;
}

.lightbox .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 35px;
  color: white;
  cursor: pointer;
}

p{
  font-family: 'Raleway', sans-serif;

}

@media (max-width: 768px) {
  body{
    -webkit-tap-highlight-color: transparent;
  }

  .title-field {
    font-size: 1.5rem;
  }


  .logo-home {
    width: 60px;
    height: 30px;
  }

  .toggle-btn{
    font-size: 15px;
  }

  body:not(.sidebar-fechado) .toggle-bnt-mobile{
    margin-left: 50%;
  }
  

  body:not(.sidebar-fechado) .toggle-btn_img-logo {
    margin-left: 0%;
    margin: 10px;
  }
  
  body.sidebar-fechado .toggle-bnt-mobile {
    margin-left: 0%;
  }
  
  body.sidebar-fechado .logo-home {
    position: relative;
    margin-left: 0%;
  }

  #menu {
    width: 50%;
    font-size: 10px;
    background-color: rgba(112, 49, 137, 0.3);
    backdrop-filter: blur(4px);

  }

  .sidebar-wrapper {
    max-width: 50%;
  }

  .submenu {
    background-color: rgba(112, 49, 137, 0.3);
    backdrop-filter: blur(4px);
  }

  .submenu ul {
    background-color: rgba(171, 131, 185, 0.3);
    backdrop-filter: blur(4px);
  }

  .submenu a:hover {
    background-color: inherit;
  }

  .magnifying_area {
    max-width: 100%;
    border: 2px solid black;
  }

  .magnifying_img {
    scale: 1 !important;
    transform: none !important;
  }

  .scroll-event {
    font-size: 1rem;

  }

  .container-page {
    margin-left: 0%;
    width: 100%;
  }

  .conteudo {
    margin-left: 0%;
  }

  .swiffy-slider {
    width: 100%;
  }

 
}